<DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Clientes</title>
</head>
<body>
    <h1>Lista clientes!</h1>
    <title>Página de Clientes</title>
 </body>   
 <h1>Lista de Clientes</h1>

 <table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Compras na loja</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fabricio Herpich</td>
            <td>5</td>
        </tr>
        <tr>
           <td>Usuario 2</td>
           <td>10</td>
        </tr>
    </tbody>
 </table>
</html>